{% extends "base.html" %}

{% block content %}
    <h1>rickblog</h1>
    {% for post in posts %}
    <div class="post"><h2 class="title"><a href="/{{ post.slug }}/">{{ post.title }}</a></h2>
        {% for tag in post.tags %}
            <h3>{{ tag.name }}</h3>
        {% endfor %}
        <p>{{ post.body }}</p>
        {% if session['logged_in'] %}
            <a href="/edit/{{ post.slug }}/">edit</a>
        {% endif %}
        <div class="timestamp" >last modified: {{ post.timestamp }}</div><br>
    </div>
    {% endfor %}
{% endblock %}
